/*
P2_reservia_style.css
---------
Feuille de style pour le projet 2 Reservia OpenClassRooms
Par Arnaud Ghali
*/ 

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px
@media screen and (max-width: 1280px){} */

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px 
@media all and (min-width: 1024px) and (max-width: 1280px){}*/

/* Sur tous types d'écran de type mobile  
@media handheld {}  attention non géré par certain navigateur

@media (max-width: 1180px) {}
 
@media (max-width: 760px) {}
*/

/* Sur les téléviseurs 
@media tv{} /* attention non géré par certain navigateur*/

/* Sur tous types d'écrans orientés verticalement 
@media all and (orientation: portrait){}*/

/* exemples @media 
@media (height > 600px) {
    body { line-height: 1.4; }
}

@media (400px <= width <= 700px) {
    body { line-height: 1.4; }
}*/


/* Pour le projet 2 */
/*@media all and (max-width: 1024px)
{*/
@font-face
{
font-family:'Raleway';
src: url('polices/Raleway-VariableFont_wght.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body {
    background-color: #FFFF;
}

  /*@media screen and (max-width: 575px) {
    .main-nav { flex-direction: column; }
    .main-nav ul { margin-bottom: 1em; }
}*/

.main-nav {
    display: flex;
    padding: 1em;
    border-radius: 5px;
    background: #1c87c9;
    color: white;
    }
.main-nav > ul {
    display: flex;
    flex: 2;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items : left;
    }
.main-nav li { 
    margin-left: 1em; 
}
.main-nav > form {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    }
.main-nav input { flex: 1; }
.main-nav button {
    padding: 0 1em;
    margin-left: .3em;
    border: 0;
    border-radius: 1em;
    background: white;
    color: #666666;
    }



/*Body*/
body{
    font-family:'Raleway';
    font-size:18px;
    line-height:1.5;
    
    max-width:1200px;
    margin:auto;
  }
/* Partie resultat*/
  .flex-resultat{
    display:flex;
    flex-wrap:wrap;
    align-content: space-between;
  }
  
  .flex-itemresultat{
    box-sizing:border-box;
    background-color: #F2F2F2;
    width:30.33%;
    padding:25px;

  }
  .flex-itemblanc{
    box-sizing:border-box;
    background-color: ##FFFF;
    width:3%;
  }

  .flex-itemresultat.w66{
    background-color: #F2F2F2;
    width:66.66%;
  }
  .flex-detailR{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: space-around;
  }
  .flex-detailRPhoto{

  }
  .photopetite{
    border-top-left-radius:5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 150px;
  }

  .flexactivite{
    display:flex;
    flex-wrap:wrap;
  }

  .flex-itemactivite.w100{
    width:100%;
  }



